.artist-summary {
    background-color: #ffffff; /* Grey background */
    position: fixed; /* Fixed position - sit on top of the page */
    top: 0;
    transition: 0.2s; /* Add a transition effect (when scrolling - and font size is decreased) */
    z-index: 1;
    width: 100%;
    padding-bottom: 25px;
    box-shadow: 0 0 10px 0;
}

.artist-info {
    padding: 50px 0 40px 0;
}

.timeline-section {
    background-color: #cccccc;
    margin-top: 330px;
    padding: 30px 0 40px 0;
}

.bio-btn {
    text-decoration: underline;
    border: none;
    background-color: transparent;
    font-size: 1.25em;
}

.bio-btn:enabled {
    outline: none;
}